<!-- <footer class="container-fluid bg-dark mt-5">
    <div class="row pt-5">
        <div class="col-4 d-flex justify-content-center">
            <div class="container col-8">
                <span class="color-main fw-bold ">ABOUT KRITHY</span>
                <p class="text-center text-lg-start text-white">KRITHY Books started in 2023 by Muhammed Safvan kv [popularly known as KRITHY, 
                  publishing in India]</p>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="container col-8 justify-content-center ">
                <span class="color-main fw-bold text-uppercase">links</span>
                <div class="col-lg-3 col">
                    <a href="" class="">Authors</a>
                    <a href="/users/profile/wishlist">Wishlist</a>
                    <a href="/users/profile/cart">Cart</a>
                    <a href="">Shopping</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container col-8">
                <span class="color-main fw-bold text-uppercase">follow us</span>
                <p class="text-center text-lg-start">KRITHY Books started in 2023 by Muhammed Safvan kv [popularly known as KRITHY, 
                  publishing in India]</p>
            </div>
        </div>
        <p class="mt-5 text-center text-light fst-italic">&copy; 2023 Krithy books. All rights reserved.</p>

    </div>
  </footer> -->
  <footer class="container-fluid bg-dark text-white mt-5 py-5">
    <div class="row justify-content-center text-center">
        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
            <h5 class="color-1 fw-bold">ABOUT KRITHY</h5>
            <p class="text-center ">KRITHY Books started in 2023 by Muhammed Safvan kv [publishing in India /<span ><a href="https://krithybooks.shop/" class="text-success" target="_blank"> krithybooks.shop</a></span>] </p>
        </div>
  
        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
            <h5 class="color-1 fw-bold text-uppercase">Links</h5>
            <ul class="list-unstyled">
                <li><a href="/#browseByAuthors" class="text-light text-decoration-none">Authors</a></li>
                <li><a href="/users/profile/wishlist" class="text-light text-decoration-none">Wishlist</a></li>
                <li><a href="/users/profile/cart" class="text-light text-decoration-none">Cart</a></li>
                <li><a href="/allproducts" class="text-light text-decoration-none">Shopping</a></li>
            </ul>
        </div>
  
        <div class="col-lg-4 col-12">
            <h5 class="color-1 fw-bold text-uppercase">Follow us</h5>
            <div>
                <a href="https://www.linkedin.com/in/muhammed-safvan-kv-648388250/" target="linkedin_tab" class="icon-link text-light text-decoration-none me-3">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="/" class="icon-link text-light text-decoration-none">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <p class="text-center fst-italic">&copy; 2023 Krithy books. All rights reserved.</p>
        </div>
    </div>
  </footer>

  <!-- <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
  </script> -->
<!-- user profile page footer -->
<!-- user profile page footer -->
    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>   <!-- boostrap-5 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- boostrap-5 -->
      <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/user/addressPart.js"></script>
    <script src="/js/user/singleProduct.js"></script>
    <script src="/js/user/wishlist.js"></script>
    <script src="/js/user/cart.js"></script>
    <script src="/js/user/profile.js"></script>
    <script src="/js/user/search.js"></script>
    <script src="/js/user/coupon.js"></script>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
      </script>
    
<!-- user profile page footer -->
    
    

</body>
</html>

