<div class="col-lg-3 col-sm-3  text-white py-3 border rounded-4 bg-profile mt-3 settings shadow">
    <div class="border text-center p-2 border-dark-subtle bg-profile ">
        <small><a href="/users/profile" class="text-decoration-none text-black text-uppercase fw-bold ">My Profile</a></small>
    </div>
    <div class="border text-center p-2 border-dark-subtle bg-profile">
        <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">Cart</a></small>
    </div>
    <div class="border text-center p-2 border-dark-subtle bg-profile">
        <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">Wishlist</a></small>            
      </div>
    <div class="border text-center p-2 border-dark-subtle bg-profile">
        <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">My Orders</a></small>            
      </div>
      <div class="border text-center p-2 border-dark-subtle bg-profile">
          <small><a href="/users/profile/manageAddress" class="text-decoration-none text-black text-uppercase fw-bold ">Manage Address</a></small>            
        </div>
        <div class="border text-center p-2 border-dark-subtle bg-profile">
          <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">Change Password</a></small>            
        </div>
   
        </div>