
<style>

</style>

<!-- <div class="col-lg-3 ms-3 text-start col-sm-3 firstSettings  text-white py-3 border rounded-4 bg-profile settings shadow">
    <div class="border  p-2 border-dark-subtle bg-profile ">
        <small><a href="/users/profile" class="text-decoration-none text-black text-uppercase fw-bold ">My Profile</a></small>
    </div>
    <div class="border p-2 border-dark-subtle bg-profile">
        <small><a href="/users/profile/cartItems" class="text-decoration-none text-black text-uppercase fw-bold ">Cart</a></small>
    </div>
    <div class="border p-2 border-dark-subtle bg-profile">
        <small><a href="/users/profile/wishlist" class="text-decoration-none text-black text-uppercase fw-bold ">Wishlist</a></small>            
    </div>
    <div class="border p-2 border-dark-subtle bg-profile">
        <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">My Orders</a></small>            
    </div>
    <div class="border p-2 border-dark-subtle bg-profile">
          <small><a href="/users/profile/manageAddress" class="text-decoration-none text-black text-uppercase fw-bold ">Manage Address</a></small>            
    </div>
    <div class="border p-2 border-dark-subtle bg-profile">
          <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">Change Password</a></small>            
    </div>
</div> -->

    <div class="container-fluid " id="searchInput">
        <div class="row mt-5 ">
            <div class="col-3 ">
                    <!--  -->
                <div class="rounded-3 shadow border p-3 firstSettings bg-profile border border-1 border-black">
                    <div class="   ">
                        <small><a href="/users/profile" class="text-decoration-none text-black text-uppercase fw-bold ">My Profile</a></small>
                    </div>
                    <hr>
                    <div class=" ">
                        <small><a href="/users/profile/cartItems" class="text-decoration-none text-black text-uppercase fw-bold ">Cart</a></small>
                    </div>
                    <hr>
                    <div class="">
                        <small><a href="/users/profile/wishlist" class="text-decoration-none text-black text-uppercase fw-bold ">Wishlist</a></small>            
                    </div>
                    <hr>
                    <div class=" ">
                        <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">My Orders</a></small>            
                    </div>
                    <hr>
                    <div class=" ">
                        <small><a href="/users/profile/manageAddress" class="text-decoration-none text-black text-uppercase fw-bold ">Manage Address</a></small>            
                    </div>
                    <hr>
                    <div class=" ">
                        <small><a href="" class="text-decoration-none text-black text-uppercase fw-bold ">Change Password</a></small>            
                    </div>
                </div>
                    <!--  -->
            </div>
            <!--  -->
            <div class="col-lg-8 col-12 rounded-3 mx-2 bg-profile shadow ">
                
   

        <!-- ============================================================ -->
        <div id="toggle" class="bgtheme"></div>
        <div id="sidebar" class="bgtheme">
            <ul>
                <li><small><a href="/users/profile" class="text-decoration-none text-white text-uppercase fw-bold ">My Profile</a></small></li>
                <li><small><a href="/users/profile/cartItems" class="text-decoration-none text-white text-uppercase fw-bold ">Cart</a></small></li>
                <li><small><a href="/users/profile/wishlist" class="text-decoration-none text-white text-uppercase fw-bold ">Wishlist</a></small></li>
                <li><small><a href="" class="text-decoration-none text-white text-uppercase fw-bold ">My Orders</a></small></li>
                <li><small><a href="/users/profile/manageAddress" class="text-decoration-none text-white text-uppercase fw-bold ">Manage Address</a></small></li>
                <li><small><a href="" class="text-decoration-none text-white text-uppercase fw-bold ">Change Password</a></small></li>
                <% if (session) { %>
                    <div class="d-flex pe-3 align-items-center ps-2">
                        <div class="logout">
                            <button id="logoutButton" class="btn bgtheme border rounded-2 hover-btn">
                                <a href="/logout" class="text-decoration-none text-white ">LOGOUT</a>
                            </button>
                        </div>
                    </div>
                    <%}%>
            </ul>
        </div>
    
        <script>
          // get elements
          const toggle = document.getElementById('toggle');
          const sidebar = document.getElementById('sidebar');
          const firstSettings = document.querySelector('.firstSettings');
          
          // function to adjust view based on window width
          function adjustView() {
              if(window.innerWidth > 976) {
                  firstSettings.style.display = 'block';
                  toggle.style.display = 'none';
                  // deactivate sidebar and toggle if window is resized while sidebar is active
                  toggle.classList.remove('active');
                  sidebar.classList.remove('active');
              } else {
                  firstSettings.style.display = 'none';
                  toggle.style.display = 'block';

              }
          }
      
          // click event
          document.onclick = function(e) {
              if(e.target.id !== 'sidebar' && e.target.id !== 'toggle') {
                  toggle.classList.remove('active');
                  sidebar.classList.remove('active');
              }
          }
      
          // toggle onclick event
          toggle.onclick = function() {
              toggle.classList.toggle('active');
              sidebar.classList.toggle('active');
          }
        
          // listen for window resize
          window.addEventListener('resize', adjustView);
      
          // call the function on page load to initialize the correct view
          adjustView();
      
      </script>
      