<%- include('../layouts/_header') %>
<div style="width: 100%;height: 100%;">
<div class="container">
  <div class="line-break text-center py-4">
    <span class="shadow-heading fw-bold fs-4">Reset Password</span>
  </div>
  <div class="row mb-5 pt-4">
    <span class="text-center pb-3" style="font-size: 0.8rem; text-transform: none;">
        <p class="text-danger mt-0 pt-4 fw-bold text-uppercase"><%= locals.errorMessage %></p>
    </span>
    
    <div class="col-lg-5 mx-auto d-flex justify-content-center card shadow">        
      <form action="" method="post">
        <div class="mb-3 card-body">
          <input
          pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$"
            required
            class="form-control shadow-sm"
            id="form-holder"
            placeholder="Enter your email"
            name="email"
          />
        </div>
        <div class=" d-flex justify-content-center card-body ">
          <input type="submit" class="btn logbtn text-white fw-bold shadow" value="Send OTP" />

        </div>
      </form>
    </div>
    
  </div>
</div>
</div>

<%- include('../layouts/_footer') %>