<title>Login page</title>
<%-include('../layouts/_header')%>
<div class="container">
  <div class="row vh-100">
    
           <!--main logo -->
           
            <div class="logo d-flex justify-content-center">
              <p id="logo" class="logostyle">
                <a href="/" class="text-decoration-none text-black">
                <span class="kstyle">K</span>rithy</p></a>
          </div>
           
        
        <!--main logo -->
      <form class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 m-auto border border-1 shadow p-3 p-sm-5" action="/login" method="post" id="loginform">

          <!-- Title -->
          <h3 class="text-center">Sign In</h3>

          <!-- Alert Message -->
          <% if (message) { %>
              <div class="alert alert-danger" role="alert">
                  <%= message %>
              </div>
          <% } %>

          <!-- Email Input -->
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="emailInput" placeholder="Enter email" onkeyup="mailValidator()">
            <span id="mailInvalid" class=" rounded fs-3"
            style=" text-transform: none;color: rgb(201, 79, 79);"></span>
        </div>

          <!-- Password Input -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" onkeyup="passwordValidator()">
            <span id="passwordInvalid" class="rounded fs-6"
            style=" text-transform: none;color: rgb(201, 79, 79);"></span>
        </div>

          <!-- Submit Button -->
          <div class="mt-4 col-12 text-center ">
            <button type="submit" class="btn w-100 logbtn btn-secondary" id="submitButton">Log in</button>
        </div>

          <!-- Registration and Forgot Password -->
          <div class="mt-2 mt-sm-4 d-flex justify-content-center">
              <small class="d-flex"><span class="d-none d-sm-block">Don't have an account? &nbsp;</span><a href="/signup" class="textg fw-bold" id="logforgot">Sign up here</a></small>
          </div>
          <div class="d-flex justify-content-center">
              <small class="d-flex"><span class="d-none d-sm-block ">Forgot password? &nbsp;</span><a href="/forgotPassword" class="textg fw-bold" id="logforgot">Recover password here</a></small>
          </div> 

      </form>
  </div>
</div>


    
<%-include('../layouts/_footer')%>