<%-include('../layouts/_header')%>

<section class="userPage">
    <div class="container-fluid pt-5 pb-5"
        style="background: #fff; width: auto; padding: 20px; border-radius: 20px;">
        <div class="row justify-content-center">
            <div class="form-container user-signup">
                <form action=""  method="post" id="otpverification">
                
                            <label for="">Enter Your OTP</label>
                            <!-- <input style="display: none;" type="text" name="id" value=""> -->
                            <input type="text" name="otp">
                            <input type="submit" class="btn btn-success" value="Submit">
                            <p id="countDown" style="text-align: center; font-size: smaller;"></p>
                           
                </form>
                <span class="text-center py-3" style="font-size: 0.8rem; text-transform: none;color:rgb(172, 166, 166)" id="counter">
                    Resend OTP in <span id="countdowntimer">--</span> Seconds    
                </span>
                <% if(typeof userExist !== 'undefined' && userExist !=null) { %>    
                    <span class="text-center py-3" style="font-size: 0.8rem; text-transform: none;color:rgb(172, 166, 166)" id="resendotp1">
                    </span>
                  <% }else { %>    
                    <span class="text-center py-3" style="font-size: 0.8rem; text-transform: none;color:rgb(172, 166, 166)" id="resendotp2">
                    </span><%  } %> 
                  

            </div>
        </div>
    </div>
</section>


<!-- <script>

    document.getElementById('unhide').style.display="none";
    let seconds=60;
    const x=setInterval(function(){
        seconds--;
        document.getElementById('countDown').innerHTML=`OTP will expire in ${seconds} seconds`
        if(seconds<0){
        clearInterval(x);
        document.getElementById('unhide').style.display="block";
        document.getElementById('countDown').innerHTML=""
    }
    },1000)
   
</script> -->

<script>

    var timeleft = localStorage.getItem('counter') || 60;
     const downloadTimer = setInterval(function(){
      timeleft--;
      localStorage.setItem('counter',timeleft)
     
    
     document.getElementById("countdowntimer").textContent=timeleft;
     if(timeleft<=0){
      clearInterval(downloadTimer)
      localStorage.removeItem('counter')
      $("#counter").prop("hidden", true);
        $("#resendotp2").html(
          ' <a href="/forgotPassword/otpVerification/resend_OTP" >RESEND OTP</a>'
        );
        $("#resendotp1").html(
          ' <a href="/signUp/resend_OTP" >RESEND OTP</a>'
        );
     }},1000)
    
    </script>

  <%-include('../layouts/_footer')%>