<title>Login page</title>
<%-include('../layouts/_header')%>
<div class="container">
  <!--main logo -->
  <!-- <div class="logo d-flex justify-content-center align-items-center ">
      <p id="logo" class="logostyle"><span class="kstyle">K</span>rithy</p>
      
  </div> -->
  <!--main logo -->
  
  <div class="row justify-content-center align-items-center">
    
      <div class="col-lg-4 col-md-6 col-sm-8">
        <h3 class="text-center">Admin Panel</h3>
        <hr class="">
          <form action="/admin" method="post">
              <!-- main logo -->
              <div class="loginimg  d-flex justify-content-center align-items-center mt-5">
                  <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="45.4953" height="45.4953" rx="22.7477" fill="#BDBDBD"/>
                      <path d="M29.5718 17.0607H28.4344V14.7859C28.4344 11.6467 25.8867 9.099 22.7475 9.099C19.6083 9.099 17.0606 11.6467 17.0606 14.7859V17.0607H15.9232C14.6721 17.0607 13.6484 18.0843 13.6484 19.3354V30.7093C13.6484 31.9604 14.6721 32.984 15.9232 32.984H29.5718C30.8229 32.984 31.8466 31.9604 31.8466 30.7093V19.3354C31.8466 18.0843 30.8229 17.0607 29.5718 17.0607ZM19.3354 14.7859C19.3354 12.8979 20.8594 11.3738 22.7475 11.3738C24.6356 11.3738 26.1596 12.8979 26.1596 14.7859V17.0607H19.3354V14.7859ZM29.5718 30.7093H15.9232V19.3354H29.5718V30.7093ZM22.7475 27.2971C23.9986 27.2971 25.0223 26.2735 25.0223 25.0224C25.0223 23.7712 23.9986 22.7476 22.7475 22.7476C21.4964 22.7476 20.4727 23.7712 20.4727 25.0224C20.4727 26.2735 21.4964 27.2971 22.7475 27.2971Z" fill="black"/>
                      </svg>                            
              </div>
              <!--main logo -->
             
              <h1 class="text-center fw-bold fs-4 mb">Login</h1>
       
              <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input name="email" type="" class="form-control" id="email" placeholder="Enter email" value="">
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input name="password" type="password" class="form-control" id="password" placeholder="Password" value="">
              </div>
              
              <div class="mt-4 col-12 text-center ">
                  <button type="submit" class="btn w-100 logbtn text-white fw-bold">Log in</button>
              </div>
          </form>
          <!-- <div class="password fw-light col-12 text-center d-none "><p>Don't have an account? <a href="/admin/signup" id="logforgot">Signup</a> </p>
            <div class="password"><p>Forgot password? <a href="change-password" id="logforgot">reset password</a> </p></div>
          </div> -->
      </div>
  </div>
</div>


    
<%-include('../layouts/_footer')%>