@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

body{
    background-color: #f2f2f2
}

/* /*                  /* */
    /* User login page */
/* /*                  /* */
.bgtheme{
    background-color: #FF4031;
}
.hover-btn:hover {
    background-color: #FF4031;
    /* Add any other styles you want on hover */
  }
.logbtn{
    background-color: #FF4031;
    
}
.logbtn:hover{
    background-color: #FF4031;
}
.logostyle{
    position: absolute;
    /* width: 190px; */
    /* height: 65px; */
    /* left: calc(50% - 194px/2); */
    top: 60px;
    font-family: 'Lemon';
    font-style: normal;
    font-size: 30px;
    line-height: 5px;
    letter-spacing: 2.67491px;
    text-transform: capitalize;
}
.kstyle{
    color: #FF4031;
    font-size: 80px;
    font-family: 'Lemon', sans-serif;
    font-weight: 400;
}
#logforgot{
    color: #FF4031;
}
.lock_icone{
    padding-top: 100px;
}
input{
    width: 100px;
}
/* .container {
  width: 800px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.alert{
    width: 100%;
    height: 40px;
    background-color: #BDBDBD;
    display: flex;
    align-items: center;
    color: #FF4031;
    font-weight: 600;
    justify-content: center;
    margin: 0 auto;
}

/* /*                  /* */
    /* User login page ENDING*/
/* /*                  /* */



/* /*                  /* */
    /* Login SUCCESSUL MSG*/
/* /*                  /* */
.message-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    padding: 10px;
    z-index: 9999;
}

.alertes {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

/* home page */
.logohome{
    /* color: #FF4031; */
    /* position: absolute; */
    /* width: 190px; */
    /* height: 65px; */
    /* left: calc(50% - 194px/2); */
    /* top: 60px; */
    margin: auto;
    font-family: 'Lemon';
    font-style: normal;
    font-size: 30px;
    /* line-height: 5px; */
    letter-spacing: 2.67491px;
    /* text-transform: capitalize; */
}

.k{
    color: #FF4031;
    font-size: 50px;
    font-family: 'Lemon', sans-serif;
    font-weight: 400;
}
.drpdown{
    margin-left: 30px;
    background-color: #ccc;
}
.btn-like{
    border-radius: 0px;
    background-color: #494444;
    border: unset;
}
.btn-like:hover{
    background-color: #FF4031;
}
/* OTP */

/* ===================================
=================================
otp page
========================= */

.height-100 {
    height: 100vh
}

/* jjjjjjjjjjjjjjjjjjjjjjjjjjjj
 */
/* .cardHome {
    width: 400px;
    border: none;
    height: 300px;
    box-shadow: 0px 5px 20px 0px #d2dae3;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
} */

.card h6 {
    color: red;
    font-size: 20px
}

.inputs input {
    width: 200px;
    height: 40px;
    background-color: #494444;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.card-2 {
    background-color: #fff;
    padding: 10px;
    width: 350px;
    height: 100px;
    bottom: -50px;
    left: 20px;
    position: absolute;
    border-radius: 5px
}

.card-2 .content {
    margin-top: 50px
}

.card-2 .content a {
    color: red
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid red
}

.validate {
    border-radius: 20px;
    height: 40px;
    background-color: red;
    border: 1px solid red;
    width: 140px
}

/* ZOOMING IMAGES START 
==========================*/
  /* ZOOMING IMAGES END
  ======================= */

  /* .thumbimgSize{
    max-height: 8rem;
    max-width: 100%;
  } */
/* all cards making same */
.image-wrapper {
    background-size: 100% 100%;  /* This will stretch the image to fit the container's width and height */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;  
    position: relative;
}
  

.card.card_img {
    overflow: hidden;  /* this ensures that the image does not spill out of the card */
}

/* cart count in icons
======================= */
.nav-item {
    position: relative; /* Add this line to make sure the badge is positioned relative to the cart icon */
}

#badge {
    position: absolute;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    top: 0;
    right: 0;
    font-weight: bold;
    transform: translate(20%, -10%);  /* Use translate to move the badge to top right corner of cart icon */
    color: white;
}
/* cart count in icons End
======================= */

/* profile img
=============== */
.profile{
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #494444;
  }
  .profilePage{
    width: 3rem;
    height: 3rem;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    cursor: pointer;
    /* z-index: 999; */
    /* position: absolute; */
  }
  .no-cursor {
    cursor: not-allowed !important;
}

/* 
    .fixed-checkout {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000; 
    } */

    .sticky-checkout {
        position: sticky;
        bottom: 0;
        justify-content: center;
        z-index: 1000;
    }
    