<%- include('../layouts/_header') %>

<form action="" method="post" enctype="multipart/form-data" class="float-end col-1">
  <div class="profile " >
    <div class="profilePage border rounded-3"  id="profile-pic" style="background-image: url('/img/users/<%=currentUser.photo%>');"></div>
      <input type="file" id="upload" style="display: none;" placeholder="photo" name="photo">
      <button id="crop" style="display: none;">Crop</button>
      <div id="preview"></div>
      <div class="d-flex mt-2">
        <div class="modal-footer" id="modal-footer" style="display: none;">
          <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal" id="close">Close</button>
          <button type="submit" class="btn btn-primary" id="save">Save</button> 
      </div>
      </div>
  </div>
</form>

<%- include('../layouts/_footer') %>
