<%- include('../layouts/_header') %>


<div class="container">
    <div class="text-center mb-5 mt-4 d-flex flex-column justify-content-center">
    <h4>Your Order has been placed successfully <i class="fa fa-check"></i></h4>
    <span class="mb-3 fw-light mt-1"> Order ID: <%=orderID%> </span>
    <div class="text-center my-4">
      <span class="navbar-brand text-center" >
        <img
          src="/public/image/Sole .png"
          alt="Logo"
          width="80"
          height="80"
          class="d-inline-block align-text-top"
        />
        <h6 class="text-center mt-4">
          Thank you choosing <span class="brand-name">KRITHY BOOKS</span>
        </h6>
      </span>
    </div>
  </div>
</div>



<%- include('../layouts/_footer') %>